.title-screen-wrapper{
    width:100%;
    height:100%;
    text-align: center;
    margin: auto;
}

.btn {
    color: black;
}

.buttons {
    display: flex;
    text-align: center;
    list-style-type: none;
}